---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../layouts/BlogPost.astro';

const allPosts = await Astro.glob('../pages/work/*.md');
const pageTittle = "Yu En Design";
---


<BaseLayout pageTittle={pageTittle}>
  <ul class="flex flex-wrap list-none no-underline px-0">
    {allPosts.map((post)=> <li class="py-5 px-0">
      <BlogPost url={post.url}
      title={post.frontmatter.title}
      image={post.frontmatter.image}
      description={post.frontmatter.description}
      />
      </li>)}
  </ul>
</BaseLayout>
