---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../layouts/BlogPost.astro';

const allPosts = await Astro.glob('../pages/work/*.md');
const sortedPosts = allPosts.sort((a, b) => {
  const orderA = a.frontmatter.order || Infinity; // 如果没有 order 属性，设为最大值
  const orderB = b.frontmatter.order || Infinity;
  return orderA - orderB;
});


const pageTittle = "Work | Yu En Design";
---


<BaseLayout pageTittle={pageTittle}>
  <!-- archvied-layout -->
  <ul class="flex flex-wrap list-none no-underline px-0">
    {sortedPosts.map((post)=> <li class="py-5 px-0">
      <BlogPost url={post.url}
      title={post.frontmatter.title}
      image={post.frontmatter.image}
      description={post.frontmatter.description}
      />
      </li>)}
  </ul>
</BaseLayout>
