---
import BaseLayout from '../layouts/BaseLayout.astro';
import { works } from '../data/works';
const pageTittle = "Yu En Design";
---


<BaseLayout pageTittle={pageTittle}>
  {works.map((work) => (
    <article class="work-card">
      <h2>{work.title}</h2>
      
      {/* Display featured image first */}
      {work.images
        .filter(img => img.isFeatured)
        .map(img => (
          <img
            src={img.url}
            alt={img.alt}
            class="featured-image"
          />
        ))
      }
      
      <div class="tags">
        {work.tags.map((tag) => (
          <span class="tag">{tag}</span>
        ))}
      </div>
      
      <p>{work.description}</p>
      
      {/* Display gallery of additional images */}
      <div class="work-gallery">
        {work.images
          .filter(img => !img.isFeatured)
          .map(img => (
            <figure>
              <img src={img.url} alt={img.alt} />
              {img.caption && <figcaption>{img.caption}</figcaption>}
            </figure>
          ))
        }
      </div>
      
      {work.memory && <p class="memory">{work.memory}</p>}
    </article>
  ))}
</BaseLayout>
